@import '~src/assets/variables';

:host {
  width: 100%;
  &:last-of-type{
    border: none;
  }
  .student-table-row-view-container{
    display: flex;
    border-bottom: $dark-gray solid 2px;
    .cell {
      flex: 1;
      padding: 10px;
      border-right: $dark-gray solid 2px;
      &:last-of-type{
        border-right: none;
      }
      .score-input{
        border: none;
        background-color: inherit;
        padding-left: 5px;
        color: inherit;
      }
    }
  }
}
