@import '~src/assets/variables';
:host{
  display: block;
  height: 100%;
  .management-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    app-student-main-view{
      flex: 1;
      background-color: $super-light-gray;
      margin-bottom: 15px;
    }
    app-student-edit-view{
      flex: 1;
    }
  }
}
