@import '~src/assets/variables';

:host {
  max-height: 315px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 6px;
  background-color: white;
  .student-list{
    width: 100%;
    .table-header{
      background-color: $light-green;
      position: sticky;
      display: block;
      top: 0;
    }
    .student-item{
      cursor: pointer;
      background-color: white;
      display: block;
      &.low-grade{
        background-color: $light-red;
      }
      &.selected-row{
        background-color: $light-yellow;
      }
      &:hover{
        background-color: $light-yellow;
      }
    }
  }
}
