<div class="row main-view">
  <div class="col-12">
    <div class="row">
      <div class="col-12 switch-view-btn-section">
        <div class="switch-view-btn" (click)="onSwitchView('table')">
          <fa-icon class="switch-view-logo" icon="table" size="lg"></fa-icon>
        </div>
        <div class="switch-view-btn" (click)="onSwitchView('detail')">
          <fa-icon class="switch-view-logo" icon="th-list" size="lg"></fa-icon>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 details-view">
        <div class="row">
          <div class="col-lg-6 col-md-4 col-12">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                <div class="dropdown-container">
                  <app-dropdown [placeholder]="'Choose Year'" [options]="years | async" (itemSelectedEvent)="onYearSelected($event)"></app-dropdown>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-6 col-12">
                <div class="dropdown-container">
                  <app-dropdown  [placeholder]="'Choose Class'" [options]="classTypes| async" (itemSelectedEvent)="onClassSelected($event)"></app-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-12 list-container">
            <app-students-table *ngIf="view === 'table'"></app-students-table>
            <app-students-list *ngIf="view === 'detail'"></app-students-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
