@import '~src/assets/variables';

:host {
  display: block;
  .main-view{
    background-color: $super-light-gray;
    .switch-view-btn-section{
      padding: 5px;
      display: flex;
      height: 50px;
      justify-content: flex-end;
      .switch-view-btn{
        margin: 5px;
        margin-left: 10px;
        cursor: pointer;
        display: inline-table;
        .switch-view-logo{
          color: $dark-green
        }
      }
    }
    .details-view{
      padding: 5px 10px 10px 10px;
      .list-container{
        padding-top: 25px;
        .student-list{
          max-height: 315px;
          overflow-y: auto;
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding-right: 6px;
          .table-header{
            background-color: $light-green;
            position: sticky;
            top: 0;
          }
          .student-item{
            cursor: pointer;
            background-color: white;
            &.low-grade{
              background-color: $light-red;
            }
            &.selected-row{
              background-color: $light-yellow;
            }
            &:hover{
              background-color: $light-yellow;
            }
          }
        }
      }
      .row {
        .col-12{
          .dropdown-container{
            padding-top: 25px;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .dropdown-container{}
    }
  }
}
