@import '~src/assets/variables';

:host {
  display: block;
  .main-view{
    background-color: $super-light-gray;
    height: 100%;
    .switch-view-btn-section{
      padding: 5px;
      display: flex;
      height: 50px;
      justify-content: flex-end;
      .switch-view-btn{
        margin: 5px;
        margin-left: 10px;
        cursor: pointer;
        display: inline-table;
        .switch-view-logo{
          color: $dark-green
        }
      }
    }
    .details-view{
      padding: 5px 10px 10px 10px;
      .list-container{
        padding-top: 25px;
      }
      .row {
        .col-12{
          .dropdown-container{
            padding-top: 25px;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .dropdown-container{}
    }
  }
}
